{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
      <a class="navbar-brand text-warning" href="{% url 'index' %}" style="font-size: 25px; ">
        {% comment %} <img src="{% static 'img/logo.png' %}" class="logo" alt="" style="width: 150px;"> {% endcomment %}
        Hire <span class="text-success"> <img src="{% static 'img/index.png' %}" class="logo" alt="" style="width: 20px; height: 30px;" ></span> Camp
      </a>
      <button class="navbar-toggler bg-primary" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li
            {% if '/' == request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link text-white" href="{% url 'index' %}"><i class="fas fa-home"></i>  Home</a>
          </li>
          
          <li
            {% if 'about' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link text-white" href="{% url 'about' %}"><i class="fa fa-users"></i> About </a>
          </li>

          <li
            {% if 'contact' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link text-white" href=""><i class="fa fa-address-book"></i>  Contact Us </a>
          </li>

        
          

          
           
        </ul>

        
    </ul>

        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}

         

            <li
            {% if 'dashboard' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
            >
              <a class="nav-link text-white" href="{% url 'dashboard' %}">
              <i class="fas fa-user"></i>  {{ user.username }}</a>
            </li>
            <li class="nav-item mr-3">
              <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link text-danger">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>
              <form action="{% url 'logout' %}" method="POST" id="logout">
                {% csrf_token %}
                <input type="hidden">
              </form>
            </li>

            

           
          {% else %}

          <li
            {% if 'login' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link text-white" href="{% url 'login' %}"><i class="fa fa-stethoscope"></i> Doctor </a>
          </li>

            <li
            {% if 'register' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
            >
              <a class="nav-link text-white" href="{% url 'register' %}">
                <i class="fas fa-user-plus"></i> Register</a>
            </li>
            <li
            {% if 'login' in request.path %}
              class="nav-item active mr-3 text-warning"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
            >
              <a class="nav-link" href="{% url 'login' %}">
                <i class="fas fa-sign-in-alt"></i>

                Login</a>
            </li>

            
{% endif %}
         
        </ul>
      </div>
    </div>
  </nav>