{% extends 'base.html' %} 

{% load humanize %}

{% block title %} DOCTOR ON CALL {% endblock %}

{% block js %}

<script language="javascript" type="text/javascript">
$(window).load(function()
{
    $('#myModal').modal('show');
});
</script>

{% endblock %}
  
{% block content %}

<!-- Showcase -->
<section id="fact1">
    <div class="container text-center">
      <div class="home-search ">
        <div class="overlay">
          <h1 class="display-4 mb-4 text-white">
            About Specialiest Doctor
          </h1>
          <p class="lead text-white">Search Here Your Problem It Will Find for you best Doctor Suitable For you </p>

            <div class="search">
            <form action="{% url 'about' %}">
              <!-- Form Row 1 -->
              <div class="form-row text-center">
                <div class="col-md-12 mb-3 text-center">
                  <label class="sr-only">Keywords</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Keyword (Details)">
                </div>
                <button class="btn btn-secondary btn-block  " type="submit">Search </button>
            </form>
            </div>
      </div>
    </div>
  </section>
  <br>

<div class="" style="margin-bottom: 20px;">
<div style=" border: 1px solid black; box-shadow: 5px 5px 3px black;" >

<h1 class="text-center">Types Of Doctor </h1>
<p class="text-center">Here is a list of the comprehensive 65 different types of doctors and the areas they specialize in:</p>
<hr/>
  {% if about %}
  {% for c in about %}

  <div class="container" style="">
      <p> {{c.name|safe}} </p><hr style="border-width:2px; border-color: green;"/>
  </div>

    {% endfor %} 
        {% else %} 
          <div class="col-md-12">
            <h3 class="text-center text-success" style="margin-bottom: 10px;">Sorry 😞!! We Can't Find Try Another. </h3>
          </div>
        {% endif %} 
</div >
</div>

{% endblock %}

